<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Daftar Contact</h1>

            <a href="/contact/tambah" class="btn btn-primary mb-3">Tambah Contact</a>

            <% if (msg.length !==0) { %>
                <div class="alert alert-success mt-0" role="alert">
                    <%= msg %>
                </div>
                <% } %>

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="text-center">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (contact.length===0) { %>
                                    <tr>
                                        <td colspan="3" class="text-center">
                                            <div class="alert alert-danger m-0" role="alert">
                                                Data Contact belum ada
                                            </div>
                                        </td>
                                    </tr>
                                    <% } else { %>
                                        <% contact.forEach(con=> { %>
                                            <tr>
                                                <td class="p-3">
                                                    <%= con.nama %>
                                                </td>
                                                <td class="p-3">
                                                    <%= con.email %>
                                                </td>
                                                <td class="text-center p-2">
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="/contact/<%= con._id %>"><i class="fas fa-eye"></i> Detail</a></li>
                                                            <li>
                                                                <form action="/contact/<%= con._id %>?_method=DELETE" method="POST">
                                                                    <button type="submit" class="dropdown-item text-danger"
                                                                        onclick="return confirm('Yakin ingin menghapus contact ini?')">
                                                                        <i class="fas fa-trash-alt"></i> Hapus
                                                                    </button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } %>
                            </tbody>
                        </table>
                    </div>

        </div>
    </div>
</div>